
h1 {
    font-size: 50px;
    display: flex;
    align-items:flex-start;
    vertical-align: text-top;
    width: 250px;
    height: 750px;
}


body {
    text-align: center;
    background-color: grey;
    font-family: sans-serif;
    color: rgb(221, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

#grid {
    background-color: rgb(0, 0, 0);
    width: 800px;
    border: 15px solid yellow;
    padding: 50px;
    margin: 20px;
    align-items: center;
} 

.column {
    width: 90px;
    height: 90px;
    border: 10px rgb(0, 0, 0) solid;
    background-color: rgb(252, 252, 252);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    border-radius: 50%;
}

.row {
    width: 800px;
    height: 117px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}



.inputs {
    margin-top: 15px;
    margin-bottom: 15px;
    /* background-color: #000000;  */
    border: none;
    color: yellow;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-family: "Monospace";
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    border-radius: 50%;
}

.player1 {
    color: yellow;
    border-radius: 100px;
}

.player2 {
    color: red;
}

.player1-counter {
    background-color: yellow;
    height: 85px;
    width: 85px;
    border-radius: 50%;
}

.player2-counter {
    background-color: red;
    height: 85px;
    width: 85px;
    border-radius: 50%;
}

#winner-display {
    display: none;
    background-color: rgb(0, 0, 0);
    color: yellow;
    width: 100px;
}

#reset-button{
    margin-top: 10px;
    background-color: #000000; /* Green */
    border: none;
    color: yellow;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


.hide {
    display: none;
}
